.about-us-section {
    .about-us {
        &__title {
            font-size: $senary-fontSize;
            color: $octonary-color;
            font-weight: 300;
        }
        &__text {
            color: $nonary-color;
            margin-top: 20px;
            line-height: 25px;
            padding-right: 25px;
        }
    }
}
.about-us-section .row {
    .col-6-12 {
        padding-top: 103px;
        min-height: 540px;
        &:first-of-type {
            padding-bottom: 83px;
        }
        &:last-of-type {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: 127px;
        }
    }
}

@media #{$tabletXL} {
    .about-us-section .row {
        .col-6-12 {
            &:first-of-type {
                padding-top: 90px;
                padding-bottom: 0;
                min-height: 500px;
            }
            &:last-of-type {
                padding-top: 38px;
                display: block;
                padding-bottom: 60px;
                min-height: 288px;
            }
        }
    }
    .about-us-section .row .col-6-12 {
        .about-us__title {
            font-size: $octonary-fontSize;
            padding-bottom: 10px;
        }
        .about-us__text {
            font-size: $quaternary-fontSize;
            line-height: 28px;
            padding-right: 30px;
            margin-top: 29px;
        }
        &:first-of-type .about-us__text {
            &:nth-of-type(3){
                padding-right: 47px;
                margin-top: 28px;
            }
        }
        &:last-of-type .about-us__text {
            padding-right: 77px;
        }
    }
}

@media #{$tabletS} {
    .about-us-section .row .col-6-12:first-of-type .about-us__text,
    .about-us-section .row .col-6-12:last-of-type .about-us__text,
    .about-us-section .row .col-6-12:first-of-type .about-us__text:nth-of-type(3) {
        padding-right: 0;
    }
}
@media #{$phoneXL} {
    .about-us-section .row .col-6-12:first-of-type {
        padding-top: 60px;
    }
}
