//fonts
$primary-fontSize : 10px;
$secondary-fontSize : 14px;
$tertiary-fontSize : 1.29rem;
$quaternary-fontSize : 1.36rem;
$quinary-fontSize : 2rem;
$senary-fontSize : 2.5rem;
$septenary-fontSize : 2.4rem;
$octonary-fontSize : 2.9rem;

//colors
$primary-color : #ffffff;
$secondary-color : #444940;
$tertiary-color : #354C21;
$quaternary-color : #0E232D;
$quinary-color : #689B3B;
$senary-color: #71855F;
$septenary-color: #8BD24D;
$octonary-color: #282D2D;
$nonary-color: #979797;
$denary-color: rgba(255, 255, 255, 0.7);

// breakpoints
$phoneM: "(max-width: 425px)";
$phone: "(max-width: 587px)";
$phoneXL: "(max-width: 588px)";
$tabletS: "(max-width: 601px)";
$tablet: "(max-width: 751px)";
$tabletXL: "(max-width: 840px)";
$desktop:"(max-width: 1016px)";
$desktopS: "(max-width: 1095px)";
$desktopXL: "(max-width: 1200px)";
$desktopXXL: "(max-width: 1400px)";
$desktopXXXL: "(max-width: 1600px)";
