$fontSize0 : 14px;
$fontSize1 : 2.5rem;
$fontSize2 : 2.4rem;

$color0 : #ffffff;
$color1 : #444940;
$color2 : #354C21;
$color3 : #0E232D;
$color4 : #689B3B;
$color5: #71855F;
$color6: #8BD24D;
$color7: #282D2D;
$color8: #979797;
